.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
     
    height: 3.6em !important;
    white-space: nowrap;
  }

  .w-20{
    width: 20vw !important;
    min-height: 40vh;
}
img{
    height: 12vh !important;
}

form{
  width: 20vw;
  position: relative;
  left: 75vw;
}
